In [36]:
import pandas as pd
import numpy as np
d = pd.read_csv("hw3index.csv")

In [116]:
d.shape
d.head()
# t = list(d)
# dclean = d.drop(columns=['Unnamed: 1'])
# np.sum(dclean.isna())
# print(dclean.shape)
# dclean.to_csv("cleanIndex.csv",index=False)
# dclean

,"('Close', 'SPX')",Unnamed: 1,"('Close', 'A')","('Close', 'AAL')","('Close', 'AAP')","('Close', 'AAPL')","('Close', 'ABBV')","('Close', 'ABC')","('Close', 'ABMD')","('Close', 'ABT')",...,"('Close', 'XEL')","('Close', 'XLNX')","('Close', 'XOM')","('Close', 'XRAY')","('Close', 'XRX')","('Close', 'XYL')","('Close', 'YUM')","('Close', 'ZBH')","('Close', 'ZION')","('Close', 'ZTS')"
0,146.059998,NaN,29.957081,13.98,72.489998,78.432854,35.119999,43.490002,13.69,32.049999,...,27.379999,37.090000,88.709999,40.520000,18.945982,27.500000,48.281811,67.699997,21.990000,NaN
1,145.729996,NaN,30.064377,13.66,72.489998,77.442856,34.830002,43.400002,13.45,33.270000,...,27.299999,37.020000,88.550003,40.410000,18.945982,27.410000,48.583752,68.669998,22.020000,NaN
2,146.369995,NaN,30.658083,14.73,73.620003,75.285713,34.389999,43.689999,13.41,33.070000,...,27.400000,36.500000,88.959999,40.759998,18.735178,27.370001,49.115746,69.019997,22.650000,NaN
3,145.970001,NaN,30.436338,14.84,73.370003,74.842857,34.459999,43.830002,13.25,33.340000,...,27.110001,36.349998,87.930000,40.900002,19.051384,27.010000,48.806614,69.190002,22.540001,NaN
4,145.550003,NaN,30.193132,15.16,72.169998,75.044289,33.709999,43.770000,13.21,33.349998,...,27.160000,35.610001,88.480003,40.430000,19.025032,26.680000,46.757729,69.290001,22.090000,NaN